@{
  ViewData["Title"] = "Home Page";

}

<ul>
  @{
    // any C# code here
    for (int i = 1; i <= 10; i++)
    {
      <li>Number @i</li>
    }
  }
</ul>
@section Scripts{
  <script>

  </script>
}
<div class="text-center">
  <h1 class="display-4">Welcome</h1>

  <p>We are getting started with a simple addition, Please write two numbers below.</a>.</p>

  <p id="demo"></p>
  <p></p>
  <button onclick="sumButtonClick()" class="btn btn-primary">sum</button>
</div>
