<p><input type="number" @bind="num1" /></p>
<p><input type="number" @bind="num2" /></p>

<button @onclick="addNumbers">Sum it up</button>

<h4>@result</h4>

@code {
    private string num1 = "a";
    private string num2 = "a";
    private int result;

    private void addNumbers()
    {
        // TODO: do a real calculation
        result = int.Parse(num1) + int.Parse(num2);
    }
}